.modalWindow {
  width: 720px;
  height: 538px;
  background-color: #1c1c21;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 999; */
}

.modalHeader {
  max-width: 640px;
  width: 100%;
  max-height: 64px;
  height: 100%;
  margin: 40px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
}

.modalCloseBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCloseBtn:hover {
  cursor: pointer;
}

.modalCloseBtnImage {
  width: 24px;
  height: 24px;
}
