.container {
  display: flex;
  justify-content: center;
  width: 1280px;
  margin-top: 120px;
  position: relative;
}

.navigation {
  position: absolute;
  left: 0;
}

.menuLink {
  display: flex;
  align-items: center;
  height: 64px;
  opacity: .5;
}

.NavLinkActive {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.button {
  width: 170px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
