* {
  --color-link-blue: #4C4CFF;
  --color-grey: #2F2F37;
  --color-grey-dark: #1C1C21;
  --color-grey-light: #8585ad;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
