.header {
  margin-top: 40px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  max-width: 1280px;
  width: 100%;
}

.ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.li {
  max-width: 178px;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 40px;
  /* border: 1px solid red; */
}

.a {
  display: flex;
  gap:8px;
  align-items: center;
  color: white;
  text-decoration: none;
}
